{% extends '../_layouts/website.html' %}

{% block title %}Home{% end %}
{% block container %}
<div class="row main-content">
    <div class="col-sm-8 blog-main">
    </div>
    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>

            <p>
                Pia Cloud
            </p>
        </div>
        <div class="sidebar-module">
            <h4>Services</h4>
            <ol class="list-unstyled">
                <li><a href="{{ reverse_url('file_service') }}">File Service</a></li>
                <li><a href="{{ reverse_url('datastore_index') }}">Datastore</a></li>
            </ol>
        </div>
        <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
                <li><a href="https://github.com/pia-cloud/pia-cloud">Source Code</a></li>
            </ol>
        </div>
    </div>
</div>
{% end %}